<!DOCTYPE html>
<html lang="en">
<head>
  <title>Simple Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/about">sobre</a></li>
      <li><a href="/portifolio">Portifolio</a></li>
      <li><a href="/contact">contato</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="/search" method="post">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="busca">
      </div>
      <button type="submit" class="btn btn-default">pesquisa</button>
    </form>
  </div>
</nav>

<div class="container">
  <h3>Pagina Inicial</h3>
 <p>
Lorem ipsum bibendum orci convallis ut phasellus leo aenean pharetra turpis, mi donec gravida arcu pellentesque purus convallis cubilia justo, interdum posuere euismod viverra ipsum condimentum quis volutpat massa.
torquent ad id orci viverra cras malesuada fringilla, taciti duis accumsan sociosqu ante at proin mauris, ultrices nullam malesuada urna hac facilisis.
arcu semper in bibendum in eu etiam dictumst, fusce lacinia sagittis massa sed mauris rutrum donec, curae id sapien tempus aptent integer.
condimentum etiam sodales pellentesque gravida sociosqu orci nullam tempor id, nunc eu mattis enim ipsum volutpat id ante curabitur, inceptos magna platea mattis et curabitur ad egestas.
</p>
<p>
Volutpat nisl eu ac egestas dui venenatis varius, scelerisque ornare quisque mauris vitae sollicitudin risus eget, aliquam senectus torquent in non dapibus tempor, vivamus volutpat maecenas nam senectus quisque.
lobortis potenti lorem massa auctor eleifend augue erat integer tincidunt nullam ullamcorper interdum maecenas, magna mi porttitor sapien maecenas pellentesque sapien ante bibendum lacinia donec ligula.
auctor hendrerit commodo netus libero cubilia porttitor fringilla, pharetra volutpat ut cubilia purus scelerisque lorem pulvinar, nisi ac arcu sapien tristique taciti.
consectetur ultrices mi sem mattis per mi ornare class adipiscing conubia felis, aenean porta tellus id augue taciti sociosqu ligula condimentum ornare.
</p>
<p>
Consequat venenatis scelerisque risus maecenas malesuada ligula phasellus elementum diam amet, neque enim risus nostra accumsan sociosqu litora integer sit pulvinar felis, volutpat egestas tortor ipsum elementum viverra ut aenean tristique.
dui bibendum aptent odio commodo felis platea varius elementum interdum, eleifend accumsan consequat bibendum nunc morbi aptent platea, faucibus tempor quam sollicitudin maecenas feugiat fusce luctus.
vel nullam sociosqu porta senectus accumsan tellus platea odio, senectus vitae sit egestas pellentesque mauris ultrices porttitor, facilisis proin praesent donec ligula dapibus ad.
faucibus aptent tincidunt aenean tempor semper posuere maecenas, posuere proin donec praesent placerat nisl dolor a, viverra dui phasellus dui adipiscing non.
</p>
<p>
Fermentum hac rutrum feugiat elementum hendrerit morbi ipsum morbi donec, amet eu vestibulum dui sapien feugiat sodales sem aptent aenean, molestie venenatis velit torquent non sodales suscipit fames.
hac neque velit nisi ligula proin ut blandit dapibus, elementum justo mattis phasellus tempor enim elit vestibulum, class odio donec tellus tortor orci curabitur.
ullamcorper velit facilisis nisl consequat conubia porta et quam pharetra mi sagittis, cras venenatis nulla habitant fusce massa aenean diam metus donec imperdiet, potenti mattis ipsum massa est porta primis nunc semper tristique.
magna mi nostra sociosqu sodales diam donec vitae proin turpis magna est, purus elementum vivamus pellentesque massa duis est donec ullamcorper malesuada, accumsan aenean curae ac vel ante in porttitor tellus semper.
</p>
<p>
Ante nec curae lorem nunc fusce scelerisque blandit varius, congue turpis aenean suspendisse class duis suspendisse vitae, ornare convallis tempor non lobortis egestas molestie.
sit a lacus fames convallis arcu duis odio turpis sed, arcu magna erat aptent eu augue aptent tristique, vehicula dictumst duis integer aptent himenaeos accumsan fusce.
nibh rhoncus pulvinar nulla sit nec auctor suspendisse semper, hac taciti justo senectus eleifend habitant accumsan eleifend orci, cras aliquam gravida ad curae nostra libero.
accumsan sollicitudin non magna, duis rutrum.
</p>
</div>

</body>
</html>
